* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

/* Section About */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 20px;
}

.about-text {
    flex: 1;
    padding-right: 20px;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}

.btn-tarifs {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #a37b51;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-tarifs:hover {
    background-color: #8a6843; /* Slightly darker hover effect */
}

/* Style spécifique à l'image de la section À propos */
.about-img-specific {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover; /* Cropping uniquement pour cette image */
}

/* Supprimez ou ajustez toute règle globale potentiellement problématique */
img {
    object-fit: unset; /* Annule tout cropping global s'il y en avait */
    max-width: 100%; /* Conserve les proportions originales des images */
    height: auto; /* Ajuste la hauteur automatiquement */
}


/* Section de bienvenue */
.welcome-section {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: flex-start; /* Aligne les éléments à gauche */
    padding: 20px 40px;
    position: relative;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.8); /* arrière-plan semi-transparent */
}

.welcome-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; /* Espace entre le titre et le paragraphe */
}

.welcome-section p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

.btn-reserver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a37b51;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: auto;
}

/* Parallax Image Background */
.image-background {
    background-image: url('port.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax effect */
    height: 80vh;
    display: flex;
    align-items: flex-end;
}

/* Navigation */
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    padding: 10px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    justify-content: flex-start; /* align items to the left */
}

.sticky-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.sticky-nav ul li {
    display: inline;
}

.sticky-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}



.section {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.section h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Style pour des bordures subtiles */
.section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: #a37b51;
    margin-top: 15px;
}


/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: #fff;
    color: #333;
}

/* Navigation */
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.sticky-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sticky-nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Section Galerie */
.gallery-section {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.gallery-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.gallery-category {
    margin-bottom: 40px;
}

.gallery-category h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #555;
}




.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    justify-items: center;
}

.gallery-grid a {
    display: block;
}

.gallery-grid img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}

/* Section Appartement */
.apartment-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    color: #333;
}

.apartment-section h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.apartment-section p {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
    line-height: 1.6;
}

.apartment-description {
    margin-top: 20px;
}



/* Section de contact */
.contact-section {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    font-family: 'Lora', serif;
    color: #333;
}

.contact-section h1 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
    color: #333;
}

.contact-section p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}

/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
}


/* Section Tarifs */
.tarifs-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tarifs-section h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.tarifs-section table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.tarifs-section th, .tarifs-section td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

.tarifs-section th {
    background-color: #a37b51;
    color: #fff;
    font-weight: bold;
}

.tarifs-section td {
    background-color: #fff;
}

.tarifs-section tfoot td {
    font-weight: bold;
    background-color: #f5f5f5;
}

.map-container {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5; /* Light background to distinguish the section */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.map-container h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

.map-container iframe {
    width: 100%;
    max-width: 800px; /* Limit the maximum width of the map */
    height: 450px;
    border: none; /* Remove border */
    border-radius: 8px; /* Match the container's rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow around the map */
}


/* Section About */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 20px;
}

.about-image {
    flex: 1;
    text-align: center;
    margin-right: 20px; /* Space between image and text */
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

.btn-contact {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a37b51;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-contact:hover {
    background-color: #8a6843; /* Darker shade for hover effect */
}


/* Section Apartment Highlight */
.apartment-highlight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px 20px;
}

.apartment-image {
    flex: 1;
    margin-right: 20px; /* Space between image and text */
    text-align: center;
}

.apartment-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.apartment-text {
    flex: 1;
}

.apartment-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

.apartment-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

.btn-details {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a37b51;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-details:hover {
    background-color: #8a6843; /* Slightly darker hover color */
}


/* Section Appartement */
.apartment-section {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    max-width: 1200px;
    text-align: center;
}

.apartment-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.apartment-section p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #555;
}

.apartment-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.apartment-description {
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.apartment-description p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.apartment-images {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.apartment-images img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Bouton Consultez la Galerie */
.btn-gallery {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #a37b51;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-gallery:hover {
    background-color: #8a6843; /* Slightly darker hover effect */
}


/* Section Tarifs */
.tarifs-section {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.tarifs-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tarifs-section th,
.tarifs-section td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tarifs-section th {
    background-color: #a37b51;
    color: white;
}

.additional-info {
    text-align: left;
    margin-top: 20px;
}

.additional-info p {
    font-size: 1rem;
    color: #333;
    margin: 10px 0;
}


/* Section Alentours */
.surroundings-section {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 1000px;
    margin: 40px auto;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.surroundings-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

.surroundings-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #555;
}

.surroundings-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

.surroundings-section ul {
    list-style: none;
    padding: 0;
}

.surroundings-section ul li {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: #333;
}

.rules-section {
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 800px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.rules-section h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.rules-section ul {
    list-style-type: none;
    padding: 0;
}

.rules-section ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.rules-section ul li::before {
    content: "✔";
    color: #333;
    position: absolute;
    left: 0;
    top: 0;
}

.rules-section p {
    margin: 10px 0;
    color: #555;
}

.rules-section strong {
    color: #333;
}

.localisation-section {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    line-height: 1.8;
    color: #333;
}

.localisation-section h1 {
    text-align: center;
    font-size: 28px;
    color: #222;
    margin-bottom: 20px;
}

.localisation-section p {
    margin-bottom: 15px;
    text-align: justify;
}

.localisation-section strong {
    color: #000;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .about-section, .apartment-section {
        flex-direction: column;
        text-align: center;
    }

    .about-text, .apartment-description {
        padding-right: 0;
    }

    .sticky-nav ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .image-background {
        height: 60vh;
    }
}

@media screen and (max-width: 480px) {
    .welcome-section h1 {
        font-size: 2rem;
    }

    .welcome-section p {
        font-size: 1rem;
    }

    .image-background {
        height: 50vh;
    }

    .tarifs-section table {
        font-size: 0.9rem;
    }

    .btn-tarifs, .btn-reserver {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}
